USE [master]
GO
/****** Object:  Database [AssetControlDB]    Script Date: 07.10.2025 12:48:19 ******/
CREATE DATABASE [AssetControlDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssetControlDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AssetControlDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AssetControlDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AssetControlDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssetControlDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssetControlDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](100) NOT NULL,
	[Building] [nvarchar](50) NULL,
	[Floor] [int] NULL,
	[Room] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[PositionID] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[DepartmentID] [int] NOT NULL,
	[HireDate] [date] NULL,
	[IsActive] [bit] NULL,
	[Photo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[LastLoginDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetStatuses]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[ColorCode] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[ManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[Website] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[AssetID] [int] IDENTITY(1,1) NOT NULL,
	[AssetCode] [nvarchar](50) NOT NULL,
	[AssetName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CategoryID] [int] NOT NULL,
	[ManufacturerID] [int] NULL,
	[Model] [nvarchar](100) NULL,
	[SerialNumber] [nvarchar](100) NULL,
	[PurchaseDate] [date] NULL,
	[PurchasePrice] [decimal](18, 2) NULL,
	[StatusID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[ResponsibleEmployeeID] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByUserID] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedByUserID] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AssetsFullInfo]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AssetsFullInfo] AS
SELECT 
    a.AssetID,
    a.AssetCode,
    a.AssetName,
    a.Description,
    c.CategoryName,
    m.ManufacturerName,
    a.Model,
    a.SerialNumber,
    a.PurchaseDate,
    a.PurchasePrice,
    s.StatusName,
    s.ColorCode AS StatusColor,
    l.LocationName,
    l.Building,
    l.Room,
    CONCAT(e.LastName, ' ', e.FirstName, ' ', e.MiddleName) AS ResponsiblePerson,
    e.Email AS ResponsibleEmail,
    d.DepartmentName AS ResponsibleDepartment,
    CONCAT(creator.LastName, ' ', creator.FirstName) AS CreatedBy,
    a.CreatedDate,
    a.IsActive
FROM Assets a
    INNER JOIN Categories c ON a.CategoryID = c.CategoryID
    LEFT JOIN Manufacturers m ON a.ManufacturerID = m.ManufacturerID
    INNER JOIN AssetStatuses s ON a.StatusID = s.StatusID
    INNER JOIN Locations l ON a.LocationID = l.LocationID
    LEFT JOIN Employees e ON a.ResponsibleEmployeeID = e.EmployeeID
    LEFT JOIN Departments d ON e.DepartmentID = d.DepartmentID
    INNER JOIN Users u ON a.CreatedByUserID = u.UserID
    INNER JOIN Employees creator ON u.EmployeeID = creator.EmployeeID;

GO
/****** Object:  Table [dbo].[Positions]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UsersInfo]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Представление для пользователей с полной информацией
CREATE VIEW [dbo].[vw_UsersInfo] AS
SELECT 
    u.UserID,
    u.Username,
    u.IsActive AS UserIsActive,
    u.LastLoginDate,
    r.RoleName,
    e.EmployeeID,
    CONCAT(e.LastName, ' ', e.FirstName, ' ', e.MiddleName) AS FullName,
    e.Email,
    e.Phone,
    p.PositionName,
    d.DepartmentName
FROM Users u
    INNER JOIN UserRoles r ON u.RoleID = r.RoleID
    INNER JOIN Employees e ON u.EmployeeID = e.EmployeeID
    INNER JOIN Positions p ON e.PositionID = p.PositionID
    INNER JOIN Departments d ON e.DepartmentID = d.DepartmentID;

GO
/****** Object:  Table [dbo].[AssetMovements]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetMovements](
	[MovementID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[FromLocationID] [int] NOT NULL,
	[ToLocationID] [int] NOT NULL,
	[MovementDate] [datetime] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[CreatedByUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MovementHistory]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Представление для истории перемещений
CREATE VIEW [dbo].[vw_MovementHistory] AS
SELECT 
    m.MovementID,
    m.MovementDate,
    a.AssetCode,
    a.AssetName,
    fl.LocationName AS FromLocation,
    tl.LocationName AS ToLocation,
    m.Reason,
    CONCAT(e.LastName, ' ', e.FirstName) AS MovedBy
FROM AssetMovements m
    INNER JOIN Assets a ON m.AssetID = a.AssetID
    INNER JOIN Locations fl ON m.FromLocationID = fl.LocationID
    INNER JOIN Locations tl ON m.ToLocationID = tl.LocationID
    INNER JOIN Users u ON m.CreatedByUserID = u.UserID
    INNER JOIN Employees e ON u.EmployeeID = e.EmployeeID
ORDER BY m.MovementDate DESC OFFSET 0 ROWS;

GO
/****** Object:  View [dbo].[vw_AssetsByCategory]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Представление активов по категориям для отчетов
CREATE VIEW [dbo].[vw_AssetsByCategory] AS
SELECT 
    c.CategoryName,
    COUNT(a.AssetID) AS AssetCount,
    SUM(a.PurchasePrice) AS TotalValue,
    AVG(a.PurchasePrice) AS AveragePrice
FROM Categories c
    LEFT JOIN Assets a ON c.CategoryID = a.CategoryID AND a.IsActive = 1
GROUP BY c.CategoryID, c.CategoryName;

GO
/****** Object:  View [dbo].[vw_AssetsByDepartment]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Представление активов по отделам
CREATE VIEW [dbo].[vw_AssetsByDepartment] AS
SELECT 
    d.DepartmentName,
    COUNT(a.AssetID) AS AssetCount,
    SUM(a.PurchasePrice) AS TotalValue
FROM Departments d
    LEFT JOIN Employees e ON d.DepartmentID = e.DepartmentID
    LEFT JOIN Assets a ON e.EmployeeID = a.ResponsibleEmployeeID AND a.IsActive = 1
GROUP BY d.DepartmentID, d.DepartmentName;

GO
/****** Object:  Table [dbo].[AssetDisposals]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetDisposals](
	[DisposalID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[DisposalDate] [date] NOT NULL,
	[DisposalReason] [nvarchar](500) NOT NULL,
	[ApprovedByUserID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DisposalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DashboardStats]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardStats](
	[StatsID] [int] NOT NULL,
	[TotalAssets] [int] NULL,
	[ActiveAssets] [int] NULL,
	[InStorageAssets] [int] NULL,
	[InRepairAssets] [int] NULL,
	[DisposedAssets] [int] NULL,
	[TotalValue] [decimal](18, 2) NULL,
	[MovementsThisMonth] [int] NULL,
	[MaintenanceThisMonth] [int] NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StatsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenance]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenance](
	[MaintenanceID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[MaintenanceDate] [date] NOT NULL,
	[MaintenanceTypeID] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Cost] [decimal](18, 2) NULL,
	[CreatedByUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaintenanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceTypes]    Script Date: 07.10.2025 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceTypes](
	[MaintenanceTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaintenanceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assets] ON 

INSERT [dbo].[Assets] ([AssetID], [AssetCode], [AssetName], [Description], [CategoryID], [ManufacturerID], [Model], [SerialNumber], [PurchaseDate], [PurchasePrice], [StatusID], [LocationID], [ResponsibleEmployeeID], [Notes], [CreatedDate], [CreatedByUserID], [ModifiedDate], [ModifiedByUserID], [IsActive]) VALUES (1, N'PC-001', N'Компьютер Dell OptiPlex', N'ПК для директора', 1, 1, N'OptiPlex 7090', N'DL7090001', CAST(N'2024-01-15' AS Date), CAST(75000.00 AS Decimal(18, 2)), 1, 1, 1, NULL, CAST(N'2025-09-18T14:35:56.950' AS DateTime), 1, NULL, NULL, 1)
INSERT [dbo].[Assets] ([AssetID], [AssetCode], [AssetName], [Description], [CategoryID], [ManufacturerID], [Model], [SerialNumber], [PurchaseDate], [PurchasePrice], [StatusID], [LocationID], [ResponsibleEmployeeID], [Notes], [CreatedDate], [CreatedByUserID], [ModifiedDate], [ModifiedByUserID], [IsActive]) VALUES (2, N'NB-001', N'Ноутбук HP ProBook', N'Ноутбук для бухгалтерии', 1, 2, N'ProBook 450', N'HP450001', CAST(N'2024-02-20' AS Date), CAST(65000.00 AS Decimal(18, 2)), 1, 3, 3, NULL, CAST(N'2025-09-18T14:35:56.950' AS DateTime), 1, NULL, NULL, 1)
INSERT [dbo].[Assets] ([AssetID], [AssetCode], [AssetName], [Description], [CategoryID], [ManufacturerID], [Model], [SerialNumber], [PurchaseDate], [PurchasePrice], [StatusID], [LocationID], [ResponsibleEmployeeID], [Notes], [CreatedDate], [CreatedByUserID], [ModifiedDate], [ModifiedByUserID], [IsActive]) VALUES (3, N'FRN-001', N'Стол офисный', N'Стол руководителя', 2, 4, N'BEKANT', NULL, CAST(N'2023-12-10' AS Date), CAST(15000.00 AS Decimal(18, 2)), 1, 1, 1, NULL, CAST(N'2025-09-18T14:35:56.950' AS DateTime), 1, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Assets] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetStatuses] ON 

INSERT [dbo].[AssetStatuses] ([StatusID], [StatusName], [ColorCode]) VALUES (1, N'Активен', N'#27AE60')
INSERT [dbo].[AssetStatuses] ([StatusID], [StatusName], [ColorCode]) VALUES (2, N'На складе', N'#3498DB')
INSERT [dbo].[AssetStatuses] ([StatusID], [StatusName], [ColorCode]) VALUES (3, N'На ремонте', N'#F39C12')
SET IDENTITY_INSERT [dbo].[AssetStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Компьютеры', N'ПК, ноутбуки, серверы')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Мебель', N'Столы, стулья, шкафы')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Оргтехника', N'Принтеры, сканеры, МФУ')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[DashboardStats] ([StatsID], [TotalAssets], [ActiveAssets], [InStorageAssets], [InRepairAssets], [DisposedAssets], [TotalValue], [MovementsThisMonth], [MaintenanceThisMonth], [LastUpdated]) VALUES (1, 5, 5, 0, 0, 0, CAST(2680000.00 AS Decimal(18, 2)), 0, 0, CAST(N'2025-09-24T16:24:44.533' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Description]) VALUES (1, N'Администрация', N'Руководство компании')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Description]) VALUES (2, N'IT отдел', N'Отдел информационных технологий')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [Description]) VALUES (3, N'Бухгалтерия', N'Финансовый отдел')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [MiddleName], [PositionID], [Email], [Phone], [DepartmentID], [HireDate], [IsActive], [Photo]) VALUES (2, N'Петр', N'Петров', N'Петрович', 2, N'petrov@company.ru', N'+7(495)123-45-02', 2, CAST(N'2025-09-18' AS Date), 1, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [MiddleName], [PositionID], [Email], [Phone], [DepartmentID], [HireDate], [IsActive], [Photo]) VALUES (3, N'Мария', N'Сидорова', N'Ивановна', 3, N'sidorova@company.ru', N'+7(495)123-45-03', 3, CAST(N'2025-09-18' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationID], [LocationName], [Building], [Floor], [Room]) VALUES (1, N'Кабинет директора', N'Главный офис', 3, N'301')
INSERT [dbo].[Locations] ([LocationID], [LocationName], [Building], [Floor], [Room]) VALUES (2, N'Серверная', N'Главный офис', 1, N'101')
INSERT [dbo].[Locations] ([LocationID], [LocationName], [Building], [Floor], [Room]) VALUES (3, N'Бухгалтерия', N'Главный офис', 2, N'201')
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceTypes] ON 

INSERT [dbo].[MaintenanceTypes] ([MaintenanceTypeID], [TypeName], [Description]) VALUES (1, N'Плановое ТО', N'Регулярное обслуживание')
INSERT [dbo].[MaintenanceTypes] ([MaintenanceTypeID], [TypeName], [Description]) VALUES (2, N'Ремонт', N'Устранение неисправностей')
INSERT [dbo].[MaintenanceTypes] ([MaintenanceTypeID], [TypeName], [Description]) VALUES (3, N'Диагностика', N'Проверка состояния')
SET IDENTITY_INSERT [dbo].[MaintenanceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([ManufacturerID], [ManufacturerName], [Country], [Website]) VALUES (1, N'Dell', N'США', NULL)
INSERT [dbo].[Manufacturers] ([ManufacturerID], [ManufacturerName], [Country], [Website]) VALUES (2, N'HP', N'США', NULL)
INSERT [dbo].[Manufacturers] ([ManufacturerID], [ManufacturerName], [Country], [Website]) VALUES (3, N'Canon', N'Япония', NULL)
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [PositionName], [Description]) VALUES (1, N'Директор', N'Руководитель организации')
INSERT [dbo].[Positions] ([PositionID], [PositionName], [Description]) VALUES (2, N'Системный администратор', N'IT специалист')
INSERT [dbo].[Positions] ([PositionID], [PositionName], [Description]) VALUES (3, N'Главный бухгалтер', N'Руководитель бухгалтерии')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Администратор', N'Полный доступ к системе')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Менеджер', N'Управление активами')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Пользователь', N'Просмотр и базовые операции')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [EmployeeID], [RoleID], [IsActive], [LastLoginDate], [CreatedDate]) VALUES (1, N'admin', N'e10adc3949ba59abbe56e057f20f883e', 1, 1, 1, CAST(N'2025-10-07T12:38:22.023' AS DateTime), CAST(N'2025-09-18T14:35:56.943' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [EmployeeID], [RoleID], [IsActive], [LastLoginDate], [CreatedDate]) VALUES (2, N'petrov', N'e10adc3949ba59abbe56e057f20f883e', 2, 2, 1, CAST(N'2025-10-07T11:15:47.473' AS DateTime), CAST(N'2025-09-18T14:35:56.943' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [EmployeeID], [RoleID], [IsActive], [LastLoginDate], [CreatedDate]) VALUES (3, N'sidorova', N'e10adc3949ba59abbe56e057f20f883e', 3, 2, 1, NULL, CAST(N'2025-09-18T14:35:56.943' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__AssetDis__434923733BFDD063]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[AssetDisposals] ADD UNIQUE NONCLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Assets__2DDE524032F200E7]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[Assets] ADD UNIQUE NONCLUSTERED 
(
	[AssetCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assets_CategoryID]    Script Date: 07.10.2025 12:48:20 ******/
CREATE NONCLUSTERED INDEX [IX_Assets_CategoryID] ON [dbo].[Assets]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assets_LocationID]    Script Date: 07.10.2025 12:48:20 ******/
CREATE NONCLUSTERED INDEX [IX_Assets_LocationID] ON [dbo].[Assets]
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assets_ResponsibleEmployeeID]    Script Date: 07.10.2025 12:48:20 ******/
CREATE NONCLUSTERED INDEX [IX_Assets_ResponsibleEmployeeID] ON [dbo].[Assets]
(
	[ResponsibleEmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assets_StatusID]    Script Date: 07.10.2025 12:48:20 ******/
CREATE NONCLUSTERED INDEX [IX_Assets_StatusID] ON [dbo].[Assets]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AssetSta__05E7698AB0CCB08B]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[AssetStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0BBA359B0]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__D949CC34267D048F]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D10534C4607A1A]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Maintena__D4E7DFA82A5A34D0]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[MaintenanceTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Manufact__3B9CDE2E4D894674]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[Manufacturers] ADD UNIQUE NONCLUSTERED 
(
	[ManufacturerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Position__E46AEF42D763EC4D]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[Positions] ADD UNIQUE NONCLUSTERED 
(
	[PositionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserRole__8A2B6160DC2CD190]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[UserRoles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4796AF605]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__7AD04FF0ABF5217F]    Script Date: 07.10.2025 12:48:20 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_EmployeeID]    Script Date: 07.10.2025 12:48:20 ******/
CREATE NONCLUSTERED INDEX [IX_Users_EmployeeID] ON [dbo].[Users]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssetDisposals] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AssetMovements] ADD  DEFAULT (getdate()) FOR [MovementDate]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DashboardStats] ADD  DEFAULT ((1)) FOR [StatsID]
GO
ALTER TABLE [dbo].[DashboardStats] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AssetDisposals]  WITH CHECK ADD  CONSTRAINT [FK_Disposal_ApprovedBy] FOREIGN KEY([ApprovedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AssetDisposals] CHECK CONSTRAINT [FK_Disposal_ApprovedBy]
GO
ALTER TABLE [dbo].[AssetDisposals]  WITH CHECK ADD  CONSTRAINT [FK_Disposal_Asset] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([AssetID])
GO
ALTER TABLE [dbo].[AssetDisposals] CHECK CONSTRAINT [FK_Disposal_Asset]
GO
ALTER TABLE [dbo].[AssetDisposals]  WITH CHECK ADD  CONSTRAINT [FK_Disposal_CreatedBy] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AssetDisposals] CHECK CONSTRAINT [FK_Disposal_CreatedBy]
GO
ALTER TABLE [dbo].[AssetMovements]  WITH CHECK ADD  CONSTRAINT [FK_Movements_Asset] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([AssetID])
GO
ALTER TABLE [dbo].[AssetMovements] CHECK CONSTRAINT [FK_Movements_Asset]
GO
ALTER TABLE [dbo].[AssetMovements]  WITH CHECK ADD  CONSTRAINT [FK_Movements_CreatedBy] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AssetMovements] CHECK CONSTRAINT [FK_Movements_CreatedBy]
GO
ALTER TABLE [dbo].[AssetMovements]  WITH CHECK ADD  CONSTRAINT [FK_Movements_FromLocation] FOREIGN KEY([FromLocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[AssetMovements] CHECK CONSTRAINT [FK_Movements_FromLocation]
GO
ALTER TABLE [dbo].[AssetMovements]  WITH CHECK ADD  CONSTRAINT [FK_Movements_ToLocation] FOREIGN KEY([ToLocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[AssetMovements] CHECK CONSTRAINT [FK_Movements_ToLocation]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Category]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_CreatedBy] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_CreatedBy]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Employee] FOREIGN KEY([ResponsibleEmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Employee]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Location]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Manufacturer] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Manufacturer]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_ModifiedBy] FOREIGN KEY([ModifiedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_ModifiedBy]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[AssetStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Status]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Department]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Position] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Position]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_Asset] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([AssetID])
GO
ALTER TABLE [dbo].[Maintenance] CHECK CONSTRAINT [FK_Maintenance_Asset]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_CreatedBy] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Maintenance] CHECK CONSTRAINT [FK_Maintenance_CreatedBy]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_Type] FOREIGN KEY([MaintenanceTypeID])
REFERENCES [dbo].[MaintenanceTypes] ([MaintenanceTypeID])
GO
ALTER TABLE [dbo].[Maintenance] CHECK CONSTRAINT [FK_Maintenance_Type]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employee]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_DisposeAsset]    Script Date: 07.10.2025 12:48:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Хранимая процедура для списания актива
CREATE PROCEDURE [dbo].[sp_DisposeAsset]
    @AssetID INT,
    @DisposalReason NVARCHAR(500),
    @ApprovedByUserID INT,
    @CreatedByUserID INT
AS
BEGIN
    BEGIN TRANSACTION;
    
    -- Проверяем, не списан ли уже актив
    IF NOT EXISTS (SELECT 1 FROM AssetDisposals WHERE AssetID = @AssetID)
    BEGIN
        -- Добавляем запись о списании
        INSERT INTO AssetDisposals (AssetID, DisposalDate, DisposalReason, ApprovedByUserID, CreatedByUserID)
        VALUES (@AssetID, GETDATE(), @DisposalReason, @ApprovedByUserID, @CreatedByUserID);
        
        -- Обновляем статус актива на "Списан"
        UPDATE Assets 
        SET StatusID = 4, -- ID статуса "Списан"
            IsActive = 0,
            ModifiedDate = GETDATE(),
            ModifiedByUserID = @CreatedByUserID
        WHERE AssetID = @AssetID;
    END
    
    COMMIT TRANSACTION;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_MoveAsset]    Script Date: 07.10.2025 12:48:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Хранимая процедура для перемещения актива
CREATE PROCEDURE [dbo].[sp_MoveAsset]
    @AssetID INT,
    @NewLocationID INT,
    @Reason NVARCHAR(500),
    @UserID INT
AS
BEGIN
    BEGIN TRANSACTION;
    
    DECLARE @OldLocationID INT;
    
    -- Получаем текущую локацию
    SELECT @OldLocationID = LocationID FROM Assets WHERE AssetID = @AssetID;
    
    -- Проверяем, что локация действительно изменилась
    IF @OldLocationID != @NewLocationID
    BEGIN
        -- Записываем перемещение
        INSERT INTO AssetMovements (AssetID, FromLocationID, ToLocationID, Reason, CreatedByUserID)
        VALUES (@AssetID, @OldLocationID, @NewLocationID, @Reason, @UserID);
        
        -- Обновляем локацию актива
        UPDATE Assets 
        SET LocationID = @NewLocationID,
            ModifiedDate = GETDATE(),
            ModifiedByUserID = @UserID
        WHERE AssetID = @AssetID;
    END
    
    COMMIT TRANSACTION;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDashboardStats]    Script Date: 07.10.2025 12:48:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Создаем процедуру для обновления статистики
CREATE PROCEDURE [dbo].[sp_UpdateDashboardStats]
AS
BEGIN
    UPDATE DashboardStats
    SET TotalAssets = (SELECT COUNT(*) FROM Assets WHERE IsActive = 1),
        ActiveAssets = (SELECT COUNT(*) FROM Assets WHERE StatusID = 1 AND IsActive = 1),
        InStorageAssets = (SELECT COUNT(*) FROM Assets WHERE StatusID = 2 AND IsActive = 1),
        InRepairAssets = (SELECT COUNT(*) FROM Assets WHERE StatusID = 3 AND IsActive = 1),
        DisposedAssets = (SELECT COUNT(*) FROM Assets WHERE StatusID = 4),
        TotalValue = (SELECT ISNULL(SUM(PurchasePrice), 0) FROM Assets WHERE IsActive = 1),
        MovementsThisMonth = (SELECT COUNT(*) FROM AssetMovements WHERE MONTH(MovementDate) = MONTH(GETDATE()) AND YEAR(MovementDate) = YEAR(GETDATE())),
        MaintenanceThisMonth = (SELECT COUNT(*) FROM Maintenance WHERE MONTH(MaintenanceDate) = MONTH(GETDATE()) AND YEAR(MaintenanceDate) = YEAR(GETDATE())),
        LastUpdated = GETDATE()
    WHERE StatsID = 1;
END;
GO
USE [master]
GO
